#account-info-table-body tr td:first-child,
#account-security-table-body tr td:first-child {
    text-align: right;
}

#account-info-table-body {
    font-family: 'Lato', sans-serif;
}

.label {
    text-align: right;
}

#account-security-header {
    margin-top: 50px;
}

#update-account-password-div,
#password-requirements-div {
    background-color: aliceblue;
    height:20%;
    width:25%;
    border:2px solid #333;
    border-radius: 5px;
    display: none;
    position: fixed;
    top: 35%;
    left: 35%;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
    font-family: 'Lato', sans-serif;
}

#account-security-table-body img,
#update-account-password-div img {
    position:fixed;
    max-width: 30px;
    width: 30px;
    min-width:30px;
}