#invite_code,
#cancel-msg,
#current-msg {
    display: none;
}

#already-attending-div, 
#attend-event-msg-div,
#event-info-div {
    font-family: 'Lato', sans-serif;
}

#attend-event-msg-div {
    margin-top:10px;
    margin-left: 10px;
}

#attend-event-info-div {
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-family: 'Lato', sans-serif;
}

.label {
    text-align: right;
    color: royalblue;
}

#skip-event-div {
    background-color: aliceblue;
    height:40%;
    width:30%;
    border:2px solid #333;
    border-radius: 5px;
    display: none;
    position: fixed;
    top: 30%;
    left: 35%;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
    font-family: 'Lato', sans-serif;
}

#confirm-event-div {
    background-color: aliceblue;
    height:50%;
    width:50%;
    border:2px solid #333;
    border-radius: 5px;
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

#terms {
    margin-top: 10px;
    max-height: 65%;
    overflow: auto;
    white-space: pre;
}

#skip-event-name {
    margin-left: 100px;
    color: #C70039;
}

#skip-event-id {
    display: none;
}

#skip-confirm-code {
    color: #C70039;
    font-style: italic;
}

#skip-confirm-hint {
    margin-top: 8px;
}

#barcode {
    border: 1px solid #000;
}

.topspacer {
    margin-top: 15px;
}