body, div {
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: larger;
    font-family: 'Lato', sans-serif;
    color: royalblue;
}

h2 {
    font-weight: bold;
    font-size: larger;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

h3 {
    font-weight: bold;
    font-size: larger;
    font-family: 'Lato', sans-serif;
    color: royalblue;
    padding:0;
    margin:0;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

span {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"],
select {
    border-radius: 7px;
    padding: 5px;
    background-color: #fff;
}

select {
    width: 185px;
    min-width: 185px;
}

input[type="date"],
input[type="time"] {
    width: 135px;
    min-width: 135px;
}

.required {
    border-color: red;
}

.readonly {
    border: none;
    padding: 0;
}

input[type="button"] {
    border-radius: 7px;
    font-family: 'Lato', sans-serif;
    padding: 11px;
}

.center-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 1.0;
}

.center-div-horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 1.0;
    justify-content: center;
}

.center {
    margin-left: 25%;
}

.hidden {
    display: none;
}

.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.75;
}

#heading {
    max-height: 50px;
    height: 50px;
    min-height: 50px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color: royalblue;
    border-bottom: 1px solid #333;
    position: fixed;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
}

#user {
    color: #fff;
    right: 15px;
    top: 15px;
    position: absolute;
    cursor: pointer;
}

.headerButton {
    background-color: aliceblue;
}

.nonHeaderButton {
    color: #fff;
    background-color: royalblue;
}

#bannerhome:hover {
    cursor: pointer;
    text-decoration: underline;
}

#createEvent {
    position: absolute;
    left: 275px;
    top: 5px;
}

#userMenu {
    display: none;
    position: absolute;
    top: 33px;
    width: 100px;
    height: 100px;
    right: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: aliceblue;
}

#userMenuImg {
    height: 30px;
    width: 30px;
    border-radius: 7px;
    margin-top: -5px;
}

.closeModal {
    border: 1px solid #333;
    background-color: royalblue;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    position: inherit;
    top: 3px;
    right: 3px;
    border-radius: 4px;
    cursor: pointer;
}

#maindiv {
    position: absolute;
    top: 50px;
    left: 200px;
    height: 93.5%;
    width: 85%;
    padding-left: 15px;
    padding-right: 30px;
    overflow: auto;
}

#leftmenu {
    position: fixed;
    left: 0;
    min-width: 185px;
    max-width: 185px;
    width: 185px;
    top: 50px;
    border-right: 3px solid #333;
    height: 93.5%;
    padding-left: 15px;
    overflow: auto;
    background-color: aliceblue;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

#admin {
    display: none;
}

#password-view, #cpassword-view, #copy-value {
    height: 30px;
    width: 30px;
    position: fixed;
    cursor:pointer;
}

.topspacer {
    margin-top:5px;
}

#out-menu {
    position:fixed;
    top: 10px;
    right:10px;
}

#out-menu li {
    font-weight: bolder;
}

.clickable {
    cursor:pointer;
}

#popup-msg-div {
    min-width:500px;
    max-width:500px;
    min-height:30px;
    max-height:30px;
    border:1px solid #333;
    border-radius: 10px;
    padding:5px;
    background-color:#2e9eae;
    color: #333;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove default body margins for better centering */
    flex-direction: column;
    display:none;
}