#createEventDiv {
    height:60%;
    width:30%;
    border:2px solid #333;
    border-radius: 5px;
    display: none;
    position: fixed;
    top: 70px;
    left: 210px;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
}

#createEventDiv input[type="text"],
#createEventDiv input[type="date"],
#createEventDiv input[type="time"] {
    margin-bottom: 5px;
}

#createEventButton {
    width: 185.06px;
    cursor: pointer;
}

.createEventClose {
    margin-right:8%;
    margin-top:4.5%;
}