#event-list-div {
    width:80%;
    margin-left:20px;
    font-family: 'Lato', sans-serif;
}

#event-list {
    /* Apply borders to the bottom of each row and the right of each cell */
    border-collapse: collapse;
    width: 100%;
}

#event-list td,
#event-list th {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    text-align: center;
}

#event-list th {
    background-color: royalblue;
    color: #fff;
}

/* Apply a border on the left of the first cell in each row */
#event-list tr>td:first-child, tr>th:first-child {
    border-left: 1px solid #333;
}

#event-list tr>td:nth-child(2), 
            tr>th:nth-child(2),
            tr>td:nth-child(3), 
            tr>th:nth-child(3),
            tr>td:nth-child(4), 
            tr>th:nth-child(4) {
    display:none;
}

#event-list tr:first-child > th {
    border-top: 1px solid #333;
}

#event-list tr:first-child > th:first-child {
    border-top-left-radius: 5px;
}

#event-list img {
    width: 30px;
    height: 30px;
}

#delete-event-div {
    background-color: aliceblue;
    height:30%;
    width:30%;
    border:2px solid #333;
    border-radius: 5px;
    display: none;
    position: fixed;
    top: 35%;
    left: 35%;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
    font-family: 'Lato', sans-serif;
}

#delete-event-name {
    margin-left: 100px;
    color: #C70039;
}

#delete-event-id {
    display: none;
}