#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the body to fill the viewport */
    margin: 0; /* Remove default body margins for better centering */
    flex-direction: column;
}

#main div {
    margin:5px;
}

#newUser, #verify {
    text-decoration: underline;
    cursor: pointer;
    font-size: small;
}

#name-hint,
#pass-hint {
    position: fixed;
    margin-top: 5px;
    font-style: italic;
    color: #666;
    display: none;
}

#pass-hint1 {
    position:absolute;
}

#name-hint {
    margin-left: 10px;
}

#pass-hint {
    margin-left: 30px;
}