#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Set the height of the body to fill the viewport */
    margin: 0;
    /* Remove default body margins for better centering */
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

#main div {
    margin: 5px;
}

#goback, #cancel, #a-cancel {
    font-size: small;
    text-decoration: underline;
    cursor: pointer;
}

#event-list {
    /* Apply borders to the bottom of each row and the right of each cell */
    border-collapse: collapse;
    width: 100%;
}

#event-list td,
#event-list th {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
}

/* Apply a border on the left of the first cell in each row */
#event-list tr>td:first-child, tr>th:first-child {
    border-left: 1px solid #333;
}

#event-list tr>td:nth-child(2), 
            tr>th:nth-child(2),
            tr>td:nth-child(10), 
            tr>th:nth-child(10) {
    display:none;
}

#event-list tr:first-child > th {
    border-top: 1px solid #333;
}

#event-list tr:first-child > th:first-child {
    border-top-left-radius: 5px;
}

#event-list img {
    width: 30px;
    height: 30px;
}

#loggedOutMsgDiv, #anonymousSignupDiv {
    height:30%;
    width:30%;
    border:2px solid #333;
    border-radius: 5px;
    display: none;
    position: fixed;
    top: 35%;
    left: 35%;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
}

.topspacer {
    margin-top:20px;
}

.leftspacer {
    margin-left: 80px;
}

#uname, #password {
    margin-left: 20px;
}

#create-account {
    margin-left: 5px;
    text-decoration: underline;
    cursor:pointer;
}

#login-message-div {
    width: 100%;
}

#a-event-name, #event-name {
    font-family: 'Lato', sans-serif;
}