<div>
    <strong>
        Please read the Terms of Service and Disclaimer carefully before using the software.
        By using this software, you agree to be bound by the terms and conditions set forth below.
    </strong>
    <h1 class="primarytextcolor">Terms of Service:</h1>
    - Event organizers and attendees enter into their own agreements, including financial arrangements, for any events.
    - Event locations, and event location owners, do not imply, assume, or accept responsibility for the activities
      that occur during the events.
    - Event locations, and event location owners, do not imply, assume, or accept responsibility for the safety of
      activities, or the event attendees, that occur during the events.
    - The author of this software is not a party to any such agreements and is not responsible for enforcing or resolving
      any disputes that may arise.
    - The author of this software does not endorse or guarantee the quality, safety, or legality of any events organized
      using this software.
    <h1 class="primarytextcolor">Disclaimer</h1>    
    This software is provided "as is" without warranty of any kind. 
    The author and contributors to this software make no representations or warranties of any kind, 
        express or implied, including but not limited to the warranties of merchantability, 
        fitness for a particular purpose, and non-infringement. 
        In no event shall the author or contributors be liable for any claim, damages, or other liabilities, 
        whether in an action of contract, tort, or otherwise, arising from, out of, or in connection with the use 
          or other dealings in the software.
    
    <strong>The author of this software is not responsible for:</strong>
    
    - Any events organized by users of this software.
    - Any financial transactions between users, including but not limited to payments, refunds, or other financial
      agreements.
    - Any incidents or issues that occur during events.
    - The cancellation of any events.
    - The venues where events are held.
    - The quality of food or other services provided at events.
    - The actions or behavior of other attendees.
    - The actions or behavior of event organizers.
    - Any views or opinions expressed by users of this software.
    - Any illegal activities that may occur before, during, or after events.
    <h1 class="primarytextcolor">Use of this software is at your own risk.</h1>
    <h1 class="primarytextcolor">Attend all events at your own risk.</h1>
</div>