<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/fonts.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/admin.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/hydra.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/hydra-in.css?v={{ buster }}">
    <script type="text/javascript" src="/static/crypto_key.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/crypto.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/universal.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/admin.js?v={{ buster }}"></script>
</head>
<body onload="finishedLoad();" class="secondarybackgroundcolor">
    <div id="maindiv">
        <h1 class="primarytextcolor">Server Administration</h1>
        <div>
            <div id="adminleftmenu">
                <ul>
                    <li onclick="showusers();">Show All Users</li>
                    <li>Show All Events</li>
                </ul>
            </div>
            <div id="adminmaindiv">
                
            </div>
        </div>
    </div>

    {% include 'in-menus.html' %}

    {% include 'in-create-event-window.html' %}
    
    {% include 'all-processing.html' %}
</body>