<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/fonts.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/account.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/hydra.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/hydra-in.css?v={{ buster }}">
    <script type="text/javascript" src="/static/crypto_key.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/crypto.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/universal.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/account.js?v={{ buster }}"></script>
</head>

<body onload="finishedLoad();">
    <div id="maindiv">
        <h1>Account Information</h1>
        <div>
            <table>
                <tbody id="account-info-table-body">
                    <tr>
                        <td><span class='label'>UserName</span></td>
                        <td><input type="text" id='account-username' placeholder="Username" onblur="checkRequired(this);"></span></td>
                    </tr>
                    <tr>
                        <td><span class='label'>Email</span></td>
                        <td><input type="text" id="account-email" placeholder="Email"></td>
                    </tr>
                    <tr>
                        <td><span class='label'>Account Type</span></td>
                        <td><span id='account-type'></span></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type='button' id='account-save' value='Save' onclick="confirmSaveAccount();"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1 id="account-security-header">Account Security</h1>
        <div>
            <table>
                <tbody id="account-security-table-body">
                    <tr>
                        <td><span class='label'>Current Password</span></td>
                        <td><input type='password' id='account-current-password'/></td>
                    </tr>
                    <tr>
                        <td><span class='label'>New Password</span></td>
                        <td><input type='password' id='account-new-password'/></td>
                    </tr>
                    <tr>
                        <td><span class='label'>Confirm New Password</span></td>
                        <td><input type='password' id='account-confirm-new-password'/></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="button" id="change-password-save" value="Update Password" onclick="savePassword();" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="update-account-password-div">
        <h1>Enter your password to make changes to your account</h1>
        <div>
            <input type="password" id="update-account-password" placeholder="Password" />
        </div>
        <div id="update-account-password-btn-div" class="topspacer">
            <input type="button" value="Continue" id="update-account-password-btn" onclick="saveAccount();"/>
            <input type="button" value="Cancel" id="update-account-password-btn-cancel" onclick="cancelSaveAccount();"/>
        </div>
    </div>

    {% include 'in-menus.html' %}

    {% include 'in-create-event-window.html' %}

    {% include 'all-processing.html' %}
</body>