<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/fonts.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/account.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/hydra.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/hydra-in.css?v={{ buster }}">
    <script type="text/javascript" src="/static/crypto_key.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/crypto.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/universal.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/account.js?v={{ buster }}"></script>
</head>

<body onload="finishedLoad();" class="secondarybackgroundcolor">
    <div id="maindiv">
        <h1 class="primarytextcolor">Account Information</h1>
        <div>
            <table>
                <tbody id="account-info-table-body">
                    <tr>
                        <td><span class='label primarytextcolor'>UserName</span></td>
                        <td><input type="text" id='account-username' placeholder="Username" onblur="checkRequired(this);"></span></td>
                    </tr>
                    <tr>
                        <td><span class='label primarytextcolor'>Email</span></td>
                        <td><input type="text" id="account-email" placeholder="Email"></td>
                    </tr>
                    <tr>
                        <td><span class="secondarybackgroundcolor secondarytextcolor">WWW----</span><span class='label primarytextcolor'>Account Type</span></td>
                        <td><span id='account-type'></span></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type='button' id='account-save' value='Save' onclick="confirmSaveAccount();"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1 class="primarytextcolor" id="account-security-header">Account Security</h1>
        <div>
            <table>
                <tbody id="account-security-table-body">
                    <tr>
                        <td><span class='label primarytextcolor'>Current Password</span></td>
                        <td>
                            <input type='password' id='account-current-password'/>
                            <img src="static/reveal-static.png" id="account-current-password-reveal" title="Click to show current password"/>
                        </td>
                    </tr>
                    <tr>
                        <td><span class='label primarytextcolor'>New Password</span></td>
                        <td>
                            <input type='password' id='account-new-password'/>
                            <img src="static/reveal-static.png" id="account-new-password-reveal" title="Click to show new password"/>
                        </td>
                    </tr>
                    <tr>
                        <td><span class='label primarytextcolor'>Confirm New Password</span></td>
                        <td>
                            <input type='password' id='account-confirm-new-password'/>
                            <img src="static/reveal-static.png" id="account-confirm-new-password-reveal" title="Click to show new password confirmation"/>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="button" id="change-password-save" value="Update Password" onclick="savePassword();" /></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <span class="clickable click-link" onclick="showPasswordRequirements();">Password Requirements</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="stats-div">
            <h1 class="primarytextcolor">Stats</h1>
        </div>
    </div>
    <div id="update-account-password-div">
        <h1 class="primarytextcolor">Enter your password to make changes to your account</h1>
        <div>
            <input type="password" id="update-account-password" placeholder="Password" />
            <img src="static/reveal-static.png" id="update-account-password-reveal" title="Click to show password"/>
        </div>
        <div id="update-account-password-btn-div" class="topspacer">
            <input type="button" value="Continue" id="update-account-password-btn" onclick="saveAccount();"/>
            <input type="button" value="Cancel" id="update-account-password-btn-cancel" onclick="cancelSaveAccount();"/>
        </div>
    </div>
    <div id="password-requirements-div">
        <div>
            All passwords must meet the following requirements:<br/>
            <ol>
                <li>12-25 length</li>
                <li>At least 2 upper case letters</li>
                <li>At least 2 lower case letters</li>
                <li>At least 2 numbers</li>
                <li>At least 2 special characters (!, @, #, $, %, ^, &, *)</li>
            </ol>
        </div>
        <div>
            <input type="button" value="Close" id="password-requirements-btn-close" onclick="closePasswordRequirements();"/>
        </div>
    </div>

    {% include 'in-menus.html' %}

    {% include 'in-create-event-window.html' %}

    {% include 'all-processing.html' %}
</body>