<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/fonts.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/attend.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/hydra.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/hydra-in.css?v={{ buster }}">
    <script type="text/javascript" src="/static/JsBarcode.all.min.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/crypto_key.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/crypto.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/universal.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/attend.js?v={{ buster }}"></script>
</head>

<body onload="finishedLoad();">
    <div id="maindiv">
        <span id="invite_code">{{ invite_code }}</span>
        <h1>Attend Event</h1>
        <div id="already-attending-div" class="hidden">
            <div id="already-attending-msg">
                Already Attending
            </div>
        </div>
        <div id="event-info-div">
            <input type="button" id="attend" value="Attend" onclick="attend();" />
            <input type="button" id="skip" value="Skip" onclick="unattend();" class="hidden" />
            <span id="cancel-msg">Unable to Cancel Attendance, the last day to cancel was <span id="attend-last-cancel-date"></span></span>
        </div>
        <div id="attend-event-msg-div">
            <span id="attend-event-msg">&nbsp;</span>
        </div>
        <div id="attend-event-info-div">
            <table>

                <body>
                    <tr>
                        <td class="label">
                            <span>Event:</span>
                        </td>
                        <td>
                            <span id="attend-event-name"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <span>Start:</span>
                        </td>
                        <td>
                            <span id="attend-event-start-date"></span>
                            &nbsp;
                            <span id="attend-event-start-time"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <span>End:</span>
                        </td>
                        <td>
                            <span id="attend-event-end-date"></span>
                            &nbsp;
                            <span id="attend-event-end-time"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <span>Location:</span>
                        </td>
                        <td>
                            <span id="attend-event-location"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <span>SKU:</span>
                        </td>
                        <td>
                            <span id="attend-event-sku"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <span>Cost:</span>
                        </td>
                        <td>
                            <span id="attend-event-cost"></span>
                        </td>
                    </tr>
                    <tr id="receipt_num_row">
                        <td class="label" id="receipt_num_cell_1">
                            <span>Receipt #:</span>
                        </td>
                        <td id="receipt_num_cell_2">
                            <span id="attend-event-receipt-num"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img id="barcode" src="" />
                        </td>
                    </tr>
                </body>
            </table>
            <div>&nbsp;</div>
            <div id="receipt-div">
                <input type="button" value="View Receipt" onclick="showReceipt();">
            </div>
        </div>
    </div>

    <div id="skip-event-div">
        <h1>Skip Event</h1>
        <div>
            Are you sure you want to skip this event?
        </div>
        <div>
            <div id="skip-event-name">&nbsp;</div>
            <span id="skip-event-id"></span>
        </div>
        <div class="topspacer">
            <input type="button" id="delete-event-cancel" value="Cancel Skip" onclick="cancelSkip();" />
        </div>
        <div>&nbsp;</div>
        <div class="topspacer">
            Type&nbsp;&nbsp;<span id="skip-confirm-code">WWWWWW</span>&nbsp;&nbsp;&nbsp;in the textbox below to
            confirm the skip.
            <br />
            <input type="text" id="confirm-skip" placeholder="skip" class="topspacer"
                onmouseenter="show_span(document.getElementById('skip-confirm-hint'));"
                onmouseleave="hide(document.getElementById('skip-confirm-hint'));" />
            <span id="skip-confirm-hint" class="field-hint">Skip Confirmation Code</span>
        </div>
        <div class="topspacer">
            <input type="button" id="skip-event-confirm" value="Confirm skip" onclick="confirmSkip();" />
        </div>
    </div>

    {% include 'in-menus.html' %}

    {% include 'in-create-event-window.html' %}

    {% include 'all-processing.html' %}
</body>

</html>