<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/landing.css">
    <link rel="stylesheet" type="text/css" href="/static/hydra.css">
    <link rel="stylesheet" type="text/css" href="/static/hydra-in.css">
    <script type="text/javascript" src="/static/crypto_key.js"></script>
    <script type="text/javascript" src="/static/crypto.js"></script>
    <script type="text/javascript" src="/static/universal.js"></script>
    <script type="text/javascript" src="/static/landing.js"></script>
</head>
<body onload="finishedLoad();">
    <div id="maindiv">
        <h1>My Events</h1>
    </div>

   {% include 'in-menus.html' %}

   {% include 'in-create-event-window.html' %}

   {% include 'all-processing.html' %}
</body>