<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/fonts.css?v={{ buster }}?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/landing.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/hydra.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/hydra-in.css?v={{ buster }}">
    <script type="text/javascript" src="/static/crypto_key.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/crypto.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/universal.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/landing.js?v={{ buster }}"></script>
</head>
<body onload="finishedLoad();">
    <div id="maindiv">
        <h1>My Events</h1>
        <div id="event-list-div">
            <h3 id="event-org-header">As Organizer</h3>
            <table id="event-list">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th>Allow Anonymous</th>
                        <th>Require Signin</th>
                        <th>Location</th>
                        <th>Start Date</th>
                        <th>Start Time</th>
                        <th>End Date</th>
                        <th>End Time</th>
                        <th>Max Attendees</th>
                        <th>Spots Left</th>
                        <th>Cost</th>
                        <th>SKU</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Link</th>
                        <th>Event Type</th>                        
                        <th>Payment Type</th>
                        <th>Go To</th>
                    </tr>
                </thead>
                <tbody id="event-list-body">

                </tbody>
            </table>
            <h3 id="event-attend-header">As Attendee</h3>
            <table id="attendee-list">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody id="attendee-list-body">

                </tbody>
            </table>
        </div>
    </div>

    <div id="delete-event-div">
        <h1>Delete Event</h1>
        <div>
            Are you sure you want to delete this event?
        </div>
        <div>
            <div id="delete-event-name">&nbsp;</div>
            <span id="delete-event-id"></span>
        </div>
        <div class="topspacer">
            <input type="button" id="delete-event-cancel" value="Cancel Delete" onclick="cancelDelete();"/>
        </div>
        <div>&nbsp;</div>
        <div class="topspacer">
            Type '<span id="delete-confirm-code">WWWWWW</span>' (without quotes) in the textbox below to confirm the delete.
            <br/>
            <input type="text" id="confirm-delete" placeholder="delete" class="topspacer"/>
        </div>
        <div class="topspacer">
            <input type="button" id="delete-event-confirm" value="Confirm Delete" onclick="confirmDelete();"/>
        </div>
    </div>

   {% include 'in-menus.html' %}

   {% include 'in-create-event-window.html' %}

   {% include 'all-processing.html' %}
</body>