<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/fonts.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/landing.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/hydra.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/hydra-in.css?v={{ buster }}">
    <script type="text/javascript" src="/static/crypto_key.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/crypto.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/universal.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/landing.js?v={{ buster }}"></script>
</head>
<body onload="finishedLoad();">
    <div id="maindiv">
        <h1 class="primarytextcolor">My Events</h1>
        <div id="create-attend-msg-div">
            <h3 class="primarytextcolor">No Events either organizing or attending!</h3>
        </div>
        <div id="event-list-div">
            <h3 class="primarytextcolor" id="event-org-header">As Organizer</h3>
            <table id="event-list">
                <thead>
                    <tr>
                        <th class="primarybackgroundcolor tertiarytextcolor">Name</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">ID</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Allow Anonymous</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Require Signin</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Location</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Start Date</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Start Time</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">End Date</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">End Time</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Max Attendees</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Spots Left</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Cost</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">SKU</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Edit</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Delete</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Link</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Event Type</th>                        
                        <th class="primarybackgroundcolor tertiarytextcolor">Payment Type</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Last Cancel</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Organizer As Attendee</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Stripe Price Code</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Go To</th>
                    </tr>
                </thead>
                <tbody id="event-list-body">

                </tbody>
            </table>
            <h3 class="primarytextcolor" id="event-attend-header">As Attendee</h3>
            <table id="attendee-list">
                <thead>
                    <tr>
                        <th class="primarybackgroundcolor tertiarytextcolor">Name</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">ID</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Allow Anonymous</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Require Signin</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Location</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Start Date</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Start Time</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">End Date</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">End Time</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Max Attendees</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Spots Left</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Cost</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">SKU</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Manage Attendance</th>
                    </tr>
                </thead>
                <tbody id="attendee-list-body">

                </tbody>
            </table>
            <h3 class="primarytextcolor" id="past-event-org-header">Past As Organizer</h3>
            <table id="past-event-list">
                <thead>
                    <tr>
                        <th class="primarybackgroundcolor tertiarytextcolor">Name</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">ID</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Allow Anonymous</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Require Signin</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Location</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Start Date</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Start Time</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">End Date</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">End Time</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Max Attendees</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Spots Left</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Cost</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">SKU</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Edit</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Delete</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Link</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Event Type</th>                        
                        <th class="primarybackgroundcolor tertiarytextcolor">Payment Type</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Last Cancel</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Organizer As Attendee</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Stripe Price Code</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Go To</th>
                    </tr>
                </thead>
                <tbody id="past-event-list-body">

                </tbody>
            </table>
            <h3 class="primarytextcolor" id="past-event-attend-header">Past As Attendee</h3>
            <table id="past-attendee-list">
                <thead>
                    <tr>
                        <th class="primarybackgroundcolor tertiarytextcolor">Name</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">ID</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Allow Anonymous</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Require Signin</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Location</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Start Date</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Start Time</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">End Date</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">End Time</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Max Attendees</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Spots Left</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Cost</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">SKU</th>
                        <th class="primarybackgroundcolor tertiarytextcolor">Manage Attendance</th>
                    </tr>
                </thead>
                <tbody id="past-attendee-list-body">

                </tbody>
            </table>
        </div>
    </div>

    <div id="delete-event-div">
        <h1 class="primarytextcolor">Delete Event</h1>
        <div>
            Are you sure you want to delete this event?
        </div>
        <div>
            <div id="delete-event-name">&nbsp;</div>
            <span id="delete-event-id"></span>
        </div>
        <div class="topspacer">
            <input type="button" id="delete-event-cancel" value="Cancel Delete" onclick="cancelDelete();"/>
        </div>
        <div>&nbsp;</div>
        <div class="topspacer">
            Type&nbsp;&nbsp;<span id="delete-confirm-code">WWWWWW</span>&nbsp;&nbsp;&nbsp;in the textbox below to confirm the delete.
            <br/>
            <input type="text" id="confirm-delete" placeholder="delete" class="topspacer"
            onmouseenter="show_span(document.getElementById('delete-confirm-hint'));" onmouseleave="hide(document.getElementById('delete-confirm-hint'));" />
            <span id="delete-confirm-hint" class="field-hint">Delete Confirmation Code</span>
        </div>
        <div class="topspacer">
            <input type="button" id="delete-event-confirm" value="Confirm Delete" onclick="confirmDelete();"/>
        </div>
    </div>

   {% include 'in-menus.html' %}

   {% include 'in-create-event-window.html' %}

   {% include 'all-processing.html' %}
</body>