 <!--
        These are the semi-static elements and they need to be rendered last for the z-index
    -->
    <div id="leftmenu">
        <div>
            &nbsp;
        </div>
        <div id="home" class="link" onclick="home();">
            <span>Home</span>
        </div>
        <div id="publicevents" class="link" onclick="publicevents();">
            <span>Upcoming Events</span>
        </div>
        <div id="history" class="link" onclick="history();">
            <span>Stats</span>
        </div>
        <div id="admin" class="link" onclick="admin();">
            <span>Admin</span>
        </div>
        <div id="account" class="link" onclick="account();">
            <span>Account</span>
        </div>
        <div id="exit" class="link" onclick="exit();">
            <span>Exit</span>
        </div>
        <div id="text-copy-temp-div">
            <input type="text" id="text-copy-temp" />
        </div>
        <div id="footer-menu">
            <div>
                <span class="link" onclick="show(document.getElementById('disclaimer-div'));">Disclaimer</span>
            </div>
            <div>
                <span class="link" onclick="show(document.getElementById('license-div'));">License</span>
            </div>
        </div>
    </div>
    <div id="heading">
        <h2 onclick="home();" id="bannerhome">{{ app_name }}</h2>
        <span id="user" onclick="toggleUserMenu();"><span>Hello,&nbsp;</span><span id="mnu-username"></span><img id="userMenuImg" src="/static/menu.jpg"/></span>
        <input type="button" id="createEvent" onclick="createNewEvent();" value="Create" class="headerButton"/>
    </div>
    <div id="userMenu">
        <span class="closeModal" onclick="toggleUserMenu();">x</span>
        <span id="menu_username"></span>
        <br/>
        <span id="menu_level"></span>
        <br/>
        <ul>
            <li onclick="account();">Account</li>
            <li onclick="exit();">Exit</li>
        </ul>
    </div>
    <div id="confirm-exit-div">
        <div>
            Are you sure you want to exit?
        </div>
        <div>
            <input type="button" id="confirm-exit-ok-btn" onclick="confirmExit();" value="Exit"/>
            <input type="button" id="cancel-exit-btn" onclick="hide(document.getElementById('confirm-exit-div'));" value="Cancel"/>
        </div>
    </div>
    <div id="license-div">
        <div class="center-div-horizontal">
            {% include 'license-popup.html' %}
        </div>
    </div>
    <div id="disclaimer-div">
        <div class="center-div-horizontal">
            {% include 'disclaimer-popup.html' %}
        </div>
    </div>