<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/fonts.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/in-public-events.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/hydra.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/hydra-in.css?v={{ buster }}">
    <script type="text/javascript" src="/static/crypto_key.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/crypto.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/universal.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/in-public-events.js?v={{ buster }}"></script>
</head>

<body onload="finishedLoad();">
    <div id="maindiv">
        <h1>Upcoming Events</h1>
        <div id="event-list-div">
            <table id="event-list">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th>Location</th>
                        <th>Start Date</th>
                        <th>Start Time</th>
                        <th>End Date</th>
                        <th>End Time</th>
                        <th>Max Attendees</th>
                        <th>Spots Left</th>
                        <th>Cost</th>
                        <th>Attend</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody id="event-list-body">

                </tbody>
            </table>
        </div>
    </div>

    {% include 'in-menus.html' %}

    {% include 'in-create-event-window.html' %}

    {% include 'all-processing.html' %}
</body>