<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/out-public-events.css">
    <link rel="stylesheet" type="text/css" href="/static/hydra.css">
    <script type="text/javascript" src="/static/crypto_key.js"></script>
    <script type="text/javascript" src="/static/crypto.js"></script>
    <script type="text/javascript" src="/static/out-public-events.js"></script>
    <script type="text/javascript" src="/static/universal.js"></script>
</head>

<body onload="finishedLoad();">
    <div id="main">
        <h1>{{ app_name }}</h1>
        <div>
            <h3>Public Events Available for Signup</h3>
        </div>
        <div>
            <table id="event-list">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th>Location</th>
                        <th>Start Date</th>
                        <th>Start Time</th>
                        <th>End Date</th>
                        <th>End Time</th>
                        <th>Max Attendees</th>
                        <th>Spots Left</th>
                        <th>Attend</th>
                    </tr>
                </thead>
                <tbody id="event-list-body">

                </tbody>
            </table>
        </div>
        <div>
            <span id="goback" onclick="goback();">Return to Login</span>
        </div>
    </div>

    <div id="loggedOutMsgDiv">
        <div class="center-div">
            <h1>You must be Logged In to</h1><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signup for an Event</h1>
            <div class="">
                <input type="text" id="uname" placeholder="Username"/>
            </div>
            <div class="">
                <input type="password" id="password" placeholder="Password"/><img id="password-view" src="/static/reveal-static.png" title="Click to show password" />
            </div>
            <div class="topspacer">
                <input class="leftspacer" type="button" id="login" value="Login" onclick="login()" />
            </div>
            <div id="login-message-div" class="topspacer">
                <span id="login-message">&nbsp;</span>
            </div>
            <div class="topspacer" id="create-account-div">
                <span id="create-account" onclick="navigate('/newuser');">Create Account</span>
            </div>
            <div class="topspacer" id="cancel-div">
                <span id="cancel" onclick="hideWindow();">Cancel</span>
            </div>
        </div>
    </div>

    {% include 'all-processing.html' %}
</body>

</html>