<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/hydra.css">
    <script type="text/javascript" src="/static/crypto_key.js"></script>
    <script type="text/javascript" src="/static/crypto.js"></script>
    <script type="text/javascript" src="/static/universal.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
</head>
<body onload="finishedLoad();">    
    <div id="main">
        <h1>{{ app_name }}</h1>
        <div>
            <input type="text" id="uname" placeholder="User Name"/>
        </div>
        <div>
            <input type="password" id="pwd" placeholder="Password" />
        </div><div>
            <input type="button" id="login" value="Login" onclick="login()"/>
        </div>
        <div>
            <span id="message">&nbsp;</span>
        </div>
        <div>
            <span id="newUser" onclick="createAccount();">Create Account</span>
        </div>
        <div>
            <span id="verify" onclick="verifyAccount();">Verify Account</span>
        </div>
    </div>

    {% include 'all-processing.html' %}
</body>
</html>