<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/fonts.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/main.css?v={{ buster }}">
    <link rel="stylesheet" type="text/css" href="/static/hydra.css?v={{ buster }}">
    <script type="text/javascript" src="/static/crypto_key.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/crypto.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/universal.js?v={{ buster }}"></script>
    <script type="text/javascript" src="/static/main.js?v={{ buster }}"></script>
</head>
<body onload="finishedLoad();" class="secondarybackgroundcolor">    
    <div id="main">
        <h1 class="primarytextcolor">{{ app_name }}</h1>
        <div>
            <input type="text" id="uname" placeholder="User Name or Email"
            onmouseenter="show_span(document.getElementById('name-hint'));" onmouseleave="hide(document.getElementById('name-hint'));" />
            <span id="name-hint" class="hinttextcolor">User Name or Email</span>
        </div>
        <div>
            <input type="password" id="pwd" placeholder="Password" 
                onmouseenter="show_span(document.getElementById('pass-hint'));" onmouseleave="hide(document.getElementById('pass-hint'));" />
            <img id="password-view" src="static/reveal-static.png" title="Click to show password" /> 
            <span id="pass-hint">Password</span>
        </div>
        <div>
            <input type="button" id="login" value="Login" onclick="login()"/>
        </div>
        <div>
            <span id="message">&nbsp;</span>
        </div>
        <div>
            <span id="newUser" onclick="createAccount();">Create Account</span>
        </div>
        <div>
            <span id="verify" onclick="verifyAccount();">Verify Account</span>
        </div>

        {% include 'out-menus.html' %}
    </div>

    
    {% include 'all-processing.html' %}
</body>
</html>